body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }

  .comment-area {
    width: 98%;
    height: 200px;
    background-image: url('sd.jpg');
    background-size: cover;
    }

  .email-link {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .email-link:hover {
    background-color: #0056b3;
  }

  .web-link {
    color: #007bff;
  }

  .web-link:hover {
    text-decoration: underline;
  }